<!DOCTYPE html>
<html lang="en">
<head>
	<title>Tst django</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.0.0-beta/css/bootstrap.min.css' %}">
	<style type="text/css">
		.navbar {
			margin-bottom: 20px;
		}
	</style>
</head>
<body>
	{% include '_navbar.html' %}
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
